.wrapper {
    color: white;
    text-align: left;
}
img{
    width: 25px;
}

.logo {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 0px;
}
li{
    padding:2px;
}