<link rel="stylesheet" href="~/css/tips.css" />
@{
    ViewData["Title"] = "Tips";
}
<div class="wrapper">
    <h2>Tips</h2>
    <ol>
        <li>Get a filter: There is just too much loot - I recommend 
            <ul>
                <li><a href="https://github.com/NeverSinkDev/NeverSink-Filter/releases"> Neversinks</a> loot filter </li>
            </ul>
        </li>
        <li>Get these grade macros: 
            <ul>
                <li><a href="https://github.com/Exslims/MercuryTrade">Mercury Trade</a></li>
                <li><a href="https://github.com/PoE-TradeMacro/POE-TradeMacro">POE Trade Macro</a></li>
            </ul>
        </li>
        <li>Best Build sites: 
            <ul>
                <li><a href="https://www.poebuilds.cc/">POE Builds</a></li>
                <li><a href="https://www.reddit.com/r/PathOfExileBuilds/">PathOfExileBuilds</a></li>
            </ul>
        </li>
        <li>If you are into making your own builds:
            <ul>
                <li><a href="https://github.com/Openarl/PathOfBuilding">Path of Building</a></li>
                <li><a href="https://chrome.google.com/webstore/detail/poe-trade-copy-to-path-of/dfieikfjcjekajhabkpjoffobdlillli?hl=en">Cool Chrome extension</a></li>
            </ul>
        </li>        
    </ol>
</div>

<div class="wrapper">
    <h2>Leveling Phase</h2>
    <ol>
        <li>
            <strong>NEVER</strong> use your currency items till end game
            <ul>
                <li>Except:
                    <ul><li><img src="~/images/Scroll_of_Wisdom_icon.png"/>  Scroll of Wisdoms</li>
                        <li><img src="~/images/Portal_Scroll_icon.png"/>  Portal Scrolls</li>
                        <li><img src="~/images/Blacksmiths_Whetstone_icon.png"/>  Blacksmith Whetstones</li>
                        <li><img src="~/images/Armourers_Scrap_icon.png"/>  Armourer Scraps</li>                        
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            You can use an Essence to upgrade a normal item to a rare item:
            <ul>
                <li><a href="https://github.com/Exslims/MercuryTrade">Mercury Trade</a></li>
                <li><a href="https://github.com/PoE-TradeMacro/POE-TradeMacro">POE Trade Macro</a></li>
            </ul>
        </li>
        <li>
            Best Build sites:
            <ul>
                <li><a href="https://www.poebuilds.cc/">POE Builds</a></li>
                <li><a href="https://www.reddit.com/r/PathOfExileBuilds/">PathOfExileBuilds</a></li>
            </ul>
        </li>
        <li>
            If you are into making your own builds:
            <ul>
                <li><a href="https://github.com/Openarl/PathOfBuilding">Path of Building</a></li>
                <li><a href="https://chrome.google.com/webstore/detail/poe-trade-copy-to-path-of/dfieikfjcjekajhabkpjoffobdlillli?hl=en">Cool Chrome extension</a></li>
            </ul>
        </li>
    </ol>
</div>