<link rel="stylesheet" href="~/css/tips.css" />
@{
    ViewData["Title"] = "Tips";
}
@model IList<CurrencyModel>
<img class="logo" src="~/images/render_full.png" />
<div class="wrapper">
    <h2>Tips</h2>
    <ol>
        <li>
            Get a filter: There is just too much loot - I recommend
            <ul>
                <li><a href="https://github.com/NeverSinkDev/NeverSink-Filter/releases"> Neversinks</a> loot filter </li>
            </ul>
        </li>
        <li>
            Get these grade macros:
            <ul>
                <li><a href="https://github.com/Exslims/MercuryTrade">Mercury Trade</a></li>
                <li><a href="https://github.com/PoE-TradeMacro/POE-TradeMacro">POE Trade Macro</a></li>
            </ul>
        </li>
        <li>
            Best Build sites:
            <ul>
                <li><a href="https://www.poebuilds.cc/">POE Builds</a></li>
                <li><a href="https://www.reddit.com/r/PathOfExileBuilds/">PathOfExileBuilds</a></li>
            </ul>
        </li>
        <li>
            If you are into making your own builds:
            <ul>
                <li><a href="https://github.com/Openarl/PathOfBuilding">Path of Building</a></li>
                <li><a href="https://chrome.google.com/webstore/detail/poe-trade-copy-to-path-of/dfieikfjcjekajhabkpjoffobdlillli?hl=en">Cool Chrome extension</a></li>
            </ul>
        </li>
    </ol>
</div>
<hr />
<div class="wrapper">
    <h2>Leveling Phase</h2>
    <ol>
        <li>
            <strong>NEVER</strong> use your currency items till end game
            <ul>
                <li>
                    Except:
                    <ul>
                        <li><img src="~/images/Scroll_of_Wisdom_icon.png" alt="Scroll of Wisdoms" />   Scroll of Wisdoms</li>
                        <li><img src="~/images/Portal_Scroll_icon.png" alt="Portal Scrolls" />   Portal Scrolls</li>
                        <li><img src="~/images/Blacksmiths_Whetstone_icon.png" alt="Blacksmith Whetstones" />   Blacksmith Whetstones</li>
                        <li><img src="~/images/Armourers_Scrap_icon.png" alt="Armourer Scraps" />   Armourer Scraps</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            You can use an <img src="~/images/Muttering_Essence_of_Anger_inventory_icon.png" alt="Essence" />   Essence to upgrade a normal item to a rare item
        </li>
        <li>
            Level Up Gems in Secondary Weapon Slots
        </li>
        <li>Complete prophecies while you level up</li>

        <li>
            Auras skills don't have to be on your Skill bar to remain active
            <ul>
                You can cast them, and then replace with different skills or abilites on the skill bar
            </ul>
        </li>
        <li>
            Best Leveling Items (up to level 50):
            <ul>
                <li><img src="~/images/Inventory/Tabula_Rasa_inventory_icon.png" alt="Tabula Rasa" />Tabula Rasa</li>
                <li><img src="~/images/Inventory/Goldrim_inventory_icon.png" alt="Goldrim Helmet" />Goldrim</li>
                <li><img src="~/images/Inventory/Praxis_inventory_icon.png" alt="Praxis Ring" />Praxis Ring</li>
                <li><img src="~/images/Inventory/Atziri's_Foible_inventory_icon.png" alt="Atziris Foible" />Atziri's Foible</li>
                <li><img src="~/images/Inventory/Karui_Ward_inventory_icon.png" alt="Karui Ward" />Karui Ward</li>
                <li><img src="~/images/Inventory/Meginord's_Girdle_inventory_icon.png" alt="Meginords Girdle" />Meginord's Girdle</li>
            </ul>
        </li>
        <li>
            Weapon with (10 TO 29% Increased Spell Damage)
            <ul>
                <li>Dagger/Sceptre/Staff/Wand X 1 </li>
                <li>Rare Chain Belt X 1</li>
                <li><img src="~/images/Blacksmiths_Whetstone_icon.png" alt="Blacksmiths Whetstone" />Blacksmith's Whetstone X 1</li>
            </ul>
        </li>
        <li>
            Weapon with (40 TO 69% Increased Physical Damage)
            <ul>
                <li>Weapon X 1 </li>
                <li>Rare Rustic Sash X 1</li>
                <li><img src="~/images/Blacksmiths_Whetstone_icon.png" alt="Blacksmiths Whetstone" />Blacksmith's Whetstone X 1</li>
            </ul>
        </li>
        <li>
            Don't pick up everything!!
        </li>
    </ol>
</div>
<hr />
<div class="wrapper">
    <h2>Orbs</h2>
    <ol>
        <li>
            Don't consume orbs while leveling: Keep to buy leveling gear!
        </li>
        <li>
            Know the most important vendor recipes:
            <ul>
                <li>
                    <img src="~/images/Chaos_Orb_icon.png" alt="Chaos Orb"/>Chaos Orb
                    <ul>
                        <li>1 Chaos Orb for trading a set of rare, item level 60 or above gear or 2 for unidentified gear</li>
                    </ul>
                </li>
                <li>
                    <img src="~/images/Vaal_Orb_icon.png" alt="Vaal Orb"/>Vaal Orb
                    <ul>
                        <li>7 Vaal Skill gems or 1 Sacrifice vaal fragment</li>
                    </ul>
                </li>
                <li>
                    <img src="~/images/Gemcutters_Prism_icon.png" alt="Gemcutters Prism"/>Gemcutters Prism
                    <ul>
                        <li>Trade gems with combined quality of 40% or a single gem with 20% quality</li>
                    </ul>
                </li>
                <li>
                    <img src="~/images/Jewellers_Orb_icon.png" alt="Jewellers Orb"/>Jewellers Orb
                    <ul>
                        <li>Vendor any item with 6 sockets</li>
                    </ul>
                </li>
                <li>
                    <img src="~/images/Divine_Orb_icon.png" alt="Divine Orb"/>Divine Orb
                    <ul>
                        <li>Vendor any item with 6 linked sockets</li>
                    </ul>
                </li>
                <li>
                    <img src="~/images/Cartographers_Chisel_icon.png" alt="Cartographers Chisel"/>Cartographers Chisel
                    <ul>
                        <li>Trade maps with a combined quality of 40% or a single map with 20% quality or any map and a 20% quality Stone Hammer, Rock Breaker or Gavel</li>
                    </ul>
                </li>
                <li>
                    <img src="~/images/Chromatic_Orb_icon.png" alt="Chromatic Orb"/>Chromatic Orb
                    <ul>
                        <li>Trade any item with red, green and blue sockets linked together</li>
                    </ul>
                </li>
            </ul>
        </li>        
    </ol>
</div>